/* //MENU CON LOS 3 BOTONES*/
.BotonesMostrarDerecha{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0;
}

.BotonesMostrarDerecha button{
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px; /* Espacio entre botones */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 14px;
    transition: background-color 0.3s ease; /* Transici칩n suave al pasar el rat칩n */
}

.BotonesMostrarDerecha button:hover {
  background-color: #0056b3; /* Color m치s oscuro al pasar el rat칩n */
}

/* 
transition tiene 3 valores. 
1 a que funcion quiero aplicarle
2 la duracion de la transformacion del efecto la duraciob debe ir en segundos (s)
3 el tipo de funcion en este caso ease es despacio */
.buscadorYBotones{
    display: flex; /* Usa Flexbox para alinear los elementos en fila */
    justify-content: space-between; /* Separa el contenido a la izquierda y a la derecha */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados con 8px */
    font-family: 'Arial', sans-serif; /* Fuente */
    margin: 0 auto;
}


.inputBuscarIzquierda{
    display: flex;
    align-items: end;   
}

#inputBuscar{
    width: 220px;
    margin: 0;
}