/* //MENU CON LOS 3 BOTONES*/
.BotonesMostrarDerecha{
    display: flex;
    margin-right: 100px;
}


.BotonesMostrarDerecha button{
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 10px; /* Espacio entre botones */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 14px;
    transition: background-color 0.3s ease; /* Transici칩n suave al pasar el rat칩n */
}

.BotonesMostrarDerecha button:hover {
  background-color: #0056b3; /* Color m치s oscuro al pasar el rat칩n */
}

