.loader-content{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120px;
  height: 120px;
}

.spinner{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 8px solid rgb(164, 219, 223);
  border-top: 7px dashed rgb(43, 43, 228);
  animation: cargar 6s linear infinite;
}

.loader-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loader-mostrar{
  display: block;
}

.loader-ocultar{
  display: none;
}

@keyframes cargar{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}  
