/************************************ INICIO MODAL **************************/
#btnAbrirModal{
    margin-bottom: 2rem;
}

.opcion-btn {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.preguntaGeneral{
   background-color: rgb(146, 135, 186);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    margin-top: 5px;
}

.detallesDescripcion{
    background-color: darkblue;
    
}


.modal-overlay{
     background:rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* centra el contenido */
    justify-content: center;
    align-items: center;
    font-size: 2px;
    opacity: 0;
    /* invisible al inicio */
    transition: opacity 0.3s ease;
    /* animación de aparición suave */
}

.modal-overlay p{
    font-size: inherit;
}

/* Oculta completamente el modal del flujo visual */
.hidden {
    display: none;
}

/* Clase que muestra el modal (se aplica al abrirlo) */
.modal-overlay.show {
    opacity: 1;
    /* visible */
}

/* Cuadro blanco del modal o contenido del modal */
.modal-box {
    background-color: #bfbfb7;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    /* tamaño máximo en pantallas grandes */
    position: relative;
    padding:0;
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
    /* sombra flotante */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    height: max-content;
    margin-top: 30px;
}

#cerrarInformacionModal{
    background-color: #329457; /* Color de fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

.info{
    background-color: firebrick;
}
.modal-box p{
    font-size: 14px;
}

/* "X" */
.cerrarModal {
    font-size: 1rem;
    border: none;
    background: none;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* se hace el efecto al pasar el mouse */
.cerrarModal:hover {
    transform: scale(1.2);
}

/* Imagen de los superheroes y villanos dentro del modal */
.modal-box img {
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.imagenPersonaje{
    height: 50px;
    background-color: #329457;
}

.tamaño{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Selecciona el primer párrafo hijo directo del div */
.tamaño > p:first-child {
  font-size: 24px; /* Aumenta el tamaño de la fuente */
  color: blue;     /* Cambia el color del texto a azul */
  padding: 10px;    /* Agrega un relleno */
  text-align: center;
}


#historiaOcultaPersonaje{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.detallesDescripcion {
    padding: 5px 10px; /* Reduce el padding para achicar el botón */
    background-color: #329457; /* Color de fondo azul */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-left: 6px; /* Espacio entre botones */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-size: 13px;
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

/* ACORDEON */

.acordeon {
    width: 100%;
    margin-top: 15px;
    border-top: 1px solid #ccc;
}

.acordeon-item {
    border-bottom: 1px solid #ccc;
}

.acordeon-titulo {
    width: 100%;
    background-color: #e8e8e8;
    padding: 12px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
    height: 50px;
}

.acordeon-contenido {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    background-color: #f8f8f8;
    padding: 0 12px;  
    /* display: flex;
    flex-direction: column;  
    gap: 5px; */
}

.acordeon-titulo:hover {
    background-color: #dcdcdc;
}

.acordeon-contenido p {
    margin: 12px 0;
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

/************************************ FIN MODAL **************************/

/************************************* INICIO DE OPCIONES (4)******************

